#include "resource.h"

109 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "&File"
{
	MENUITEM "E&xit",  105
}
POPUP "&Help"
{
	MENUITEM "&About ...",  104
}
}

103 DIALOG 22, 17, 230, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "System"
{
   CONTROL 107, 2, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 14, 9, 16, 16 
   CONTROL "ropstandalone Version 1.0", -1, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 10, 119, 8 
   CONTROL "Copyright (C) 2011", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 49, 20, 119, 8 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 195, 6, 30, 11 
}

129 DIALOGEX 0, 0, 327, 264
STYLE DS_FIXEDSYS | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Process List"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg", FW_NORMAL, FALSE, 1
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 243, 50, 14 
   CONTROL "Exit", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 270, 243, 50, 14 
   CONTROL "", 1000, LISTBOX, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_TABSTOP, 7, 7, 313, 231 
}


STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
103, 	"gisnap"
109, 	"GISNAP"
}


109 ACCELERATORS
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
	"?", 104, ALT
	"/", 104, ALT
}

107 ICON "Icon_1.ico"

108 ICON "Icon_2.ico"

